.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.pagination button {
  margin: 0 4px;
}

.pagination .active {
  background-color: #0070f3 !important;
  color: white !important;
}
 .inactive {
  background-color: #aaa !important;
  color: white !important;
}
